<!DOCTYPE html>
</html>
    <head>
        <title>Lotería Node.js-MySQL</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2>Lotería</h2></div>
            <div class="page-container">
