<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
            <a href="/cartas/add" type="button" class="btn btn-success">Agregar carta</a>
         </div>
         <div class="rigth">
          <form method="post" action="/generate_tableros">
            <div class="form-group">
              <label for="usr">Ingrese el número de tableros:</label>
              <input type="number" class="form-control col-md-2" id="num_tableros" name="num_tableros">
            </div>
            <button type="submit" class="btn btn-warning">Generar Tableros</button>
          </form>
         </div>
         <div class="container">
            <h2>Tabla de Cartas</h2>         
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Nombre de la carta</th>
                </tr>
              </thead>
              <tbody>
                <% if(data.length){  
                    for(var i = 0;i < data.length;i++) { %>
                        <tr>
                            <td><%=(i+1)%></td>
                            <td><%=data[i].name%></td>
                            
                            <!--<td>
                                <a class="a-inside edit" href="../customers/edit/<%=data[i].id%>">Edit</a>
                                
                                <a class="a-inside delete" href="../customers/delete/<%=data[i].id%>">Delete</a>
                                
                            </td>-->
                        </tr>
                    <% }
                }else{ %>
                    <tr>
                       <td colspan="3">No data</td>
                    </tr>
               <% } %>
              </tbody>
            </table>
          </div>
        </div>
        
<%- include layouts/footer.ejs %>
