<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="container">
            <h2>Tableros</h2> 
            <a href="/cartas" type="button" class="btn btn-success">Ver cartas</a>  
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Tablero</th>
                  <th>Cartas de Tablero</th>
                  <!--<th>Carta</th>-->
                </tr>
              </thead>
              <tbody>
                <% if(data.length){  
                    for(var i = 0;i < data.length;i++) { %>
                        <tr>
                            <% if (data[i].idTablero%2 == 1) { %>
                                <td style="background-color: rgb(117, 173, 117);"><%= data[i].idTablero %></td>
                            <%}else{ %>
                                <td style="background-color: rgb(185, 199, 122);"><%= data[i].idTablero %></td>
                            <% } %>
                            
                            <td class="warning"><%= data[i].name %></td>
                        </tr>
                    <% }
                }else{ %>
                    <tr>
                       <td colspan="3">No data</td>
                    </tr>
               <% } %>
              </tbody>
            </table>
          </div>
        </div>
        
<%- include layouts/footer.ejs %>
